*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: $fonts;
  color: #536069;
}

.container {
  max-width: $layout-size;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}